.home-page {
    background: linear-gradient(to bottom, #747373, #C0C0C0);
    height: 140vh;
}

@media (max-width: 768px) {
    .home-page{
      height: 117vh; 
    }
  }

.icons-container {
    width: 100%;
    display: flex;
    height: fit-content;
    
}

#facebook-icon {
    margin: 10px;
    cursor: pointer;
    margin-top: 30px;
    color: black;
  }
  
#whatsapp-icon {
    margin: 10px;
    cursor: pointer;
    margin-top: 30px;
    color: black;
  }

#instagram-icon {
    margin: 10px;
    cursor: pointer;
    margin-top: 30px;
    color: black;
}

#linkedin-icon {
    margin: 10px;
    cursor: pointer;
    margin-top: 30px;
    color: black;
}
#linkedin-icon:hover,
#whatsapp-icon:hover,
#facebook-icon:hover,
#instagram-icon:hover {
  color: rgb(11, 88, 76);
}

@media (max-width: 768px) {
    #facebook-icon,
    #instagram-icon,
    #whatsapp-icon,
    #linkedin-icon{
      font-size: 24px; 

    }
  }
  
  @media (min-width: 769px) {
    #facebook-icon,
    #instagram-icon,
    #whatsapp-icon,
    #linkedin-icon{
      font-size: 32px; 
    }
  }

.text1 {
    max-width: 100%;
    height: 7vh;
    text-align: center;
    margin-bottom: 45px;
} 

.text2 {
    max-width: 100%;
    height: 7vh;
    text-align: center;
    margin-bottom: 20px;
}  

#h1 {
    color: rgb(243, 207, 0);
    font-style: italic;
    font-size: 6rem;
    font-weight: bold;
   
    
}

@media (max-width: 768px) {
    #h1 {
      font-size: 4rem;
    }
  }

#h2 {
    color: white;
    font-size: 30px;
}

@media (max-width: 768px) {
    #h2 {
      font-size: 20px;
    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
 }

 #image {
    max-width: 100%;
    max-height: 100%;
 }

 .contact-container {
    width: 80%; /* Set the width to 70% */
    margin: 0 auto; /* Center the container horizontally */
    height: fit-content;
    background-color: black;
    
    margin-top: 50px;
    
}

#contact {
    color: white;
    margin: 10px;
}
#phone {
    margin: 10px;
    cursor: pointer;
}

#mail {
    margin: 10px;
    cursor: pointer;
}

